<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Circle Temper</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/ct.js"></script>

  </head>

  <body ng-app="circleTemper" ng-controller="ctCtrl" >

    <ion-header-bar align-title="center" class="bar-stable">

      <div class="buttons">
        <button class="button icon ion-ios-skipbackward" ng-click="restart()"></button>
        <button class="button icon ion-refresh" ng-click="reset()"></button>
      </div>

      <h1 class="title">Circle Temper</h1>
      
      <!--<div class="buttons">
        <button class="button icon ion-android-download" ng-click="saveSample()"></button>
        <button class="button icon ion-load-b" ng-click="loadSample()"></button>
      </div>-->
      
    </ion-header-bar> <!-- end of header -->

    <ion-header-bar align-title="center" class="bar-subheader bar-light">
      <span class="title" ng-bind="tempo"></span>
    </ion-header-bar> <!-- end of subheader -->

    <ion-content ng-show="DEBUG" class="has-subheader">
    {{'diameter: '+ diameter }}<br>
    {{'tempo: '+ tempo + ' level: '+ levelCount +'/'+level}} <br>
    {{'x: '+ x + ' y: ' + y}} <br>
    {{'deg: '+ deg + ' rad: ' + rad}}<br>
    {{'slow? '+ slow}} <br>
    {{'song name: ' + songName +' song src: '+ song.src}}<br>
    
    </ion-content> <!-- end of debug -->

    <div class="center circle outer" ng-model="slider" style="width:{{diameter}}px;height:{{diameter}}px;">

      <div class="center" on-drag="tempoChange($event)" data-tap-disabled="true" ng-model="bar" id="bar">
      </div> <!-- end of tempo bar -->

      <div class="center circle inner" ng-click="playPause()" id="songChooser" >
        <div class="circle state" ng-show="uploaded">
          <p id="songName" ng-bind="songName"></p>
          <i class="icon ion-upload" id="playPauseIcon"></i>
        </div>
        <label class="circle state" ng-hide="uploaded">
          <p>Upload Song</p>
          <i class="icon ion-upload"></i>
          <input type="file" id="songFile" fileread callback-fn="uploadSong(file)" accept="audio/*" capture="microphone" ng-hide="true" />
        </label>
        <audio id="song"></audio>

      </div> <!-- end of inner circle -->
    </div> <!-- end of outer circle -->

    <ion-footer-bar align-title="center" class="bar-stable">
      <div class="buttons" ng-click="decreaseLevel()" data-tap-disabled="true">
        <button class="button"><i class="icon ion-minus-round"></i></button>
      </div>
      <h1 class="title">Precision Level: {{level}}</h1>
      <div class="buttons" ng-click="increaseLevel()" data-tap-disabled="true">
        <button class="button"><i class="icon ion-plus-round"></i></button>
      </div>
    </ion-footer-bar> <!-- end of footer -->

    </body>
</html>
